body{
  /* background-color: #ccffff; */
  background-color: #AFEEEE;
  text-align: center;

}

h1 {
  font-size: 4rem;
}

#title {
  text-align: center;
  color: #696969;
}

.set {
  margin: 10% auto;
}

.piano {
  text-align: center;
  width: 150px;
  height: 150px;
  font-size: 5rem;
  font-family: 'Arvo', cursive;
  font-weight: 900;
  /* line-height: 2; */
  border: 10px solid #5F9EA0;
  border-radius: 15px;
  margin: 10px;
}
